@mixin flex(
  $direction: row,
  $align-items: stretch,
  $justify-content: flex-start
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
