@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.more-icon {
  transition: transform 0.2s;
}

.nav-options:hover .more-icon {
  transform: rotate(-180deg);
  transition-duration: 0.2s;
}

.category:hover .category-title .more-icon {
  transform: rotate(-180deg);
  transition-duration: 0.4s;
}

.navbar-wrapper {
  background-color: #2874f0;
  padding: 0.5% 13%;
}

.navbar, .nav-subconatainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.nav-subconatainer1 {
  flex: 2;
  gap: 12px;
}

.nav-flipkart-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.nav-flipkart-links span {
  font-size: 12px;
  font-style: italic;
}
.nav-flipkart-links a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 0.8px;
}

.flipcart-img-link {
  display: contents;
}

.plus {
  color: #fae205;
  font-weight: 500;
}

.search-bar-wrapper {
  flex: 0.8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.search-bar-container {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background-color: brown;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
}

#search-bar {
  width: 100%;
  outline: none;
  border: none;
  padding-left: 12px;
}

.search-icon {
  position: absolute;
  right: 12px;
  color: #2874f0;
  cursor: pointer;
}

.nav-subconatainer2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
}

.nav-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 100%;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #fff;
  user-select: none;
}

.nav-options {
  box-sizing: border-box;
}

.nav-login {
  color: #2874f0;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
  height: 32px;
  padding: 5px 40px;
  border: 1px solid #dbdbdb;
}

.nav-options-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.quick-navigation-wrapper {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  padding: 1% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.quick-navigation {
  max-width: 1258px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #000;
  cursor: pointer;
}
.category img {
  width: 65px;
  height: 65px;
}

.category:hover {
  color: #2874f0;
}

.category-title span {
  font-size: 14px;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
