@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.more-icon {
  transition: transform 0.2s;
}

.nav-options:hover .more-icon {
  transform: rotate(-180deg);
  transition-duration: 0.2s;
}

.category:hover .category-title .more-icon {
  transform: rotate(-180deg);
  transition-duration: 0.4s;
}

.navbar-wrapper {
  background-color: #2874f0;
  padding: 0.5% 13%;
}

.navbar, .nav-subconatainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.nav-subconatainer1 {
  flex: 2;
  gap: 12px;
}

.nav-flipkart-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.nav-flipkart-links span {
  font-size: 11px;
  font-style: italic;
}
.nav-flipkart-links a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 0.8px;
}

.flipcart-img-link {
  display: contents;
}
.flipcart-img-link img {
  position: relative;
  top: 4px;
}

.explore-plus-link {
  margin-top: -1px;
}

.plus {
  color: #fae205;
  font-weight: 500;
}

.search-bar-wrapper {
  flex: 0.85;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.search-bar-container {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background-color: brown;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
}

#search-bar {
  width: 100%;
  outline: none;
  border: none;
  font-size: 14px;
  padding-left: 12px;
}

.search-icon {
  position: absolute;
  right: 12px;
  color: #2874f0;
  cursor: pointer;
}

.nav-subconatainer2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
}

.nav-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 100%;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #fff;
  user-select: none;
}

.nav-options {
  box-sizing: border-box;
}

.nav-login {
  color: #2874f0;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
  height: 32px;
  padding: 5px 40px;
  border: 1px solid #dbdbdb;
}

.nav-login:hover {
  color: #2874f0;
}

.nav-options-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.quick-navigation-wrapper {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  padding: 1% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.quick-navigation {
  max-width: 1258px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #000;
  cursor: pointer;
}
.category img {
  width: 65px;
  height: 65px;
}

.category:hover {
  color: #2874f0;
}

.category-title span {
  font-size: 14px;
  font-weight: 500;
}

.Flipcart-carousel {
  padding: 8px;
  position: relative;
}

.f-carousel-img {
  cursor: pointer;
  width: 100vw;
  height: 270px;
}

.f-carousel-prev {
  left: 8px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  transform: translateY(-50%);
}

.f-carousel-next {
  right: 8px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  transform: translateY(-50%);
}

.f-carousel-prev,
.f-carousel-next {
  background-color: #fff;
  color: #000;
  /* cursor: context-menu; */
  width: 47px;
  height: 104px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  top: 50%;
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  opacity: 1;
  cursor: context-menu;
}

.products-wrapper {
  padding: 0 8px 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
}

.products {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
}

.product-title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title-heading span {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}

.title-btn {
  box-sizing: border-box;
}

.view-all {
  background-color: #2874f0;
  color: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
}

.view-all:hover {
  color: #fff;
}

.product-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.product-row-ad {
  width: 80vw;
}

.product-item {
  width: 195px;
  box-sizing: border-box;
  padding: 25px 15px;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 14px;
  cursor: pointer;
}

.product-item:hover .product-img {
  transform: scale(1.05);
}

.product-thumbnail {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

.product-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}

.product-tag,
.offer-tag,
.product-category-tag {
  font-size: 14px;
  margin-top: 15px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-tag {
  font-weight: 500;
}

.offer-tag {
  color: #388e3c;
  margin-top: 0;
}

.product-category-tag {
  color: #838383;
  margin-top: 0;
}

.ad-banner {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 354px;
  flex: 0 0 248px;
  max-width: 234px;
}
.ad-banner img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f3f6;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
