.navbar-wrapper {
  background-color: $flipkart-blue;
  padding: 0.5% 13%;
}

.navbar {
  @include flex($align-items: center);
}
// Navbar Subcontainer 1

.nav-subconatainer1 {
  flex: 2;
  gap: 12px;
  @extend .navbar;
}

.nav-flipkart-links {
  @include flex(column);
  span {
    font-size: $font-size-xxs;
    font-style: italic;
  }
  a:hover {
    color: $flipkart-white;
    text-decoration: underline;
    text-decoration-thickness: 0.8px;
  }
}
.flipcart-img-link {
  display: contents;
}
.plus {
  color: $flipkart-yellow;
  font-weight: $font-weight-medium;
}

.search-bar-wrapper {
  flex: 0.8;
  @include flex($align-items: center);
  position: relative;
}

.search-bar-container {
  width: 100%;
  height: 36px;
  @include flex();
  background-color: brown;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
}

#search-bar {
  width: 100%;
  outline: none;
  border: none;
  padding-left: 12px;
}

.search-icon {
  position: absolute;
  right: 12px;
  color: $flipkart-blue;
  cursor: pointer;
  // pointer-events: none;
}

// Navbar Subcontainer 2

.nav-subconatainer2 {
  flex: 1;
  @include flex($align-items: center, $justify-content: flex-end);
  gap: 10%;
}

.nav-options-container {
  @include flex($align-items: center);
  cursor: pointer;
  height: 100%;
  line-height: 20px;
  font-size: $font-size-s;
  letter-spacing: 0.1px;
  font-weight: $font-weight-medium;
  color: $flipkart-white;
  user-select: none;
}
.nav-options {
  box-sizing: border-box;
}
.nav-login {
  color: $flipkart-blue;
  font-weight: $font-weight-medium;
  background-color: $flipkart-white;
  cursor: pointer;
  border-radius: 2px;
  height: 32px;
  padding: 5px 40px;
  border: 1px solid #dbdbdb;
}

.nav-options-2 {
  @include flex($align-items: center);
  gap: 4px;
}

// For icons css look at vendors/_fontawsome-icons
